
body {
    font-family: "SFUIDisplay-Thin", "SF UI Display", "Helvetica Neue", -apple-system, BlinkMacSystemFont, sans-serif;
    /*background-color:#e1e1e1;*/
    /*background-image: url('../Resources/header-bg.png');*/
    background: url('../Resources/landscape.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    min-width: 1122px;
    overflow-x: hidden;

}

.mainbody {
    position: relative;
    width: 100%;
    height: 100%;
}

#bodyoverlay {

    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    /*background : -webkit-linear-gradient(left, var(--pastelblue), var(--red));*/
    background: rgba(109, 151, 255, 0.5);

    /*background: rgba(12,31,39,0.8);*/
    opacity: 0.9;
    z-index: -999;

}

#modaldiv {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

#modalcontent {
    position: relative;
    background-color: gray;
    border-radius: 5px;
    /*background-image           : url("../Resources/signupBG3.jpg");*/
    background-size: cover;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 2px;
    height: 300px;
    width: 600px; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    min-width: 319px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

#container {
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    margin: auto;

}

#headingcontainer {
    position: relative;
    width: 100%;
    height: 20%;
    background-color: transparent;
    top: 3%;
    left: 0;
}

#modallogo {
    position: absolute;
    top: -13%;
    left: 29%;
    height: 55px;
    width: 60px;
    /*background-color: var(--darkgray);*/
    padding: 10px 5px 10px 10px;

}

#label {
    font-family: "SF UI Display";
    font-size: 1.8em;
    position: absolute;
    top: -25%;
    left: 42%;
    color: white;
    min-width: 421px;
}

#close {
    position: absolute;
    top: 25px;
    right: 25px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    padding: 2px 5px 2px 5px;
    z-index: 99999;

}

#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--subtlered);
    border-radius: 50px;
}

form {
    position: relative;
    height: 100%;
    width: 100%;
}

input[type="text"] {
    position: absolute;
    height: 30px;
    width: 410px;
    /*border: 2px solid rgba(204,55,61,0.5);*/
    border: none;
    background-color: lightgray;
    font-family: SFUIDisplay-Regular;
    color: black;
    outline: none;
    padding-left: 20px;

}

input[type="password"] {
    position: absolute;
    height: 30px;
    width: 410px;
    border: none;
    font-family: SFUIDisplay-Regular;
    /*border: 2px solid rgba(204,55,61,0.5);*/
    background-color: lightgray;
    color: black;
    outline: none;
    padding-left: 20px;
}

.label {
    position: relative;
    font-size: 0.8em;
    color: lightgray;
    font-family: "SFUIDisplay-Thin";
    left: 15%;
    top: 3%;
}

.textbox {
    left: 15%;
    font-family: "SFUIDisplay-Thin";
    font-size: 14px;
}

.textbox:focus {

    border-bottom-color: var(--subtlered);
}

#loginbutton {
    position: absolute;
    font-family: "SFUIDisplay-Thin";
    font-size: 15px;
    color: white;
    background-color: var(--subtlered);
    border: none;
    width: 250px;
    height: 30px;
    border-radius: 30px;
    opacity: 1;
    outline: none;
    bottom: 7%;
    left: 30%;
    cursor: pointer;
}

#scroll {
    position: absolute;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 0.7em;
    background: transparent;
    /*border          : 2px red;*/
    /*background      : var(--subtlered);*/
    top: 30%;
    right: 22%;
    border: none;
    cursor: pointer;
    z-index: 999;
}

#scroll:hover {
    border-bottom: 2px solid var(--subtlered);
}

#createaccount {
    position: absolute;
    top: 70%;
    left: 32%;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

#createaccount:hover {
    color: var(--subtlered);
    border-bottom: 1px solid var(--subtlered);

}

#navBar {
    /*background-color: rgba(40, 44, 53, 0.9);*/
    background-color: transparent;
    /*background:-webkit-linear-gradient(left,rgba(40,44,53,1) ,rgba(59,62,67,0.5) );*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /*background-color:#3b3e43;*/
    width: 100%;
    height: 80px;
    z-index: 50;
    transition: 0.4s ease;
}

.contents {
    position: relative;
    height: 100%;
    width: 100%;
    left: 7%;
    display: inline-block;
    min-width: 1300px;
}

.contents button {
    font-family: "SFUIDisplay-Thin";
    letter-spacing: 3px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
    color: white;
    margin-left: 20px;
    font-size: 0.7em;
    opacity: 1;
    height: 30px;
    top: 35%;
    outline: none;
    padding: 0 10px 0 10px;
    margin-right: 20px;
}

#signup {
    position: absolute;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 0.7em;
    background: transparent;
    /*border          : 2px red;*/
    /*background      : var(--subtlered);*/
    left: 10%;
    border: none;
    cursor: pointer;
    z-index: 999;

}

#signup:hover {
    border-bottom: 2px solid var(--subtlered);
}

#marketplacelink {
    position: absolute;
    background: transparent;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 0.7em;
    border: none;
    cursor: pointer;
    left: 0%
}

#userpic {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 200px;
    object-fit: cover;
    background-size: cover;
    right: 10%;
    top: 20%;
    cursor: pointer;
}

#login {
    position: absolute;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 0.7em;
    background: transparent;
    /*border          : 2px red;*/
    /*background      : var(--subtlered);*/
    top: 30%;
    right: 15%;
    border: none;
    cursor: pointer;
    z-index: 999;
}
#login2 {
    position: absolute;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 0.7em;
    background: transparent;
    /*border          : 2px red;*/
    /*background      : var(--subtlered);*/
    top: 30%;
    right: 15%;
    border: none;
    cursor: pointer;
    z-index: 999;
}

#login:hover, #login2:hover{
    border-bottom: 2px solid var(--subtlered);
}

#marketplacelink:hover {
    border-bottom: 2px solid var(--subtlered);
}

#searchbar {
    position: absolute;
    top: 34%;
    left: 18%;
    text-transform: uppercase;
    font-size: 0.83em;
    height: 30px;
    font-weight: lighter;
    background-color: transparent;
    color: white;
    border: none;
    width: 0px;
    margin-right: 30px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    z-index: 90;
    padding: 0 0 0 40px;
    cursor: pointer;
}

#searchbar:focus {
    width: 200px;
    /*outline-color:var(--pinkish);*/
    /*outline-width:2px;*/
    outline: none;
    border: solid 1px var(--subtlered);
}

#searchicon {
    position: absolute;
    top: 37%;
    left: 18%;
    height: 25px;
    width: 25px;
    margin-left: 5px;
    z-index: -1;
    cursor: pointer;
}

#searchicon:hover {
    background-color: var(--gray);
}

#logo {
    cursor: pointer;
    position: absolute;
    display: inline-block;
    left: 3%;
    top: 20%;
    height: 55px;
    width: 60px;
    /*height   : 70px;*/
    /*width    : 80px;*/
    z-index: 999;
    overflow: hidden;
}

#header {
    position: relative;
    transform: translateY(0);
    background-color: black;
    height: 695px;
    width: 100%;

}

#anchor {

    position: absolute;
    bottom: 7%;
    left: 10%;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
    color: white;
    font-size: 0.7em;
    /*border          : 2px red;*/
    /*background      : var(--subtlered);*/
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 999;
    padding: 7px 15px 7px 15px;
    outline: none;

}

#arrowdown {
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 50px;
    height: 40px;
    margin-left: -30px;
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
    z-index: 9999;
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
    }
    60% {
        -webkit-transform: translateY(-15px);
    }
}

#anchor2 {
    position: absolute;
    bottom: 0%;
    right: 10%;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
    color: white;
    font-size: 0.7em;
    /*border          : 2px red;*/
    background: var(--subtlered);
    border: none;
    cursor: pointer;
    z-index: 999;
    padding: 7px 15px 7px 15px;
    outline: none;

}

#arrowdown2 {
    position: absolute;
    bottom: 0;
    right: 28.5%;
    width: 50px;
    height: 40px;
    margin-left: -30px;
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
    z-index: 9999;
}

#slider1 {

    cursor: pointer;

    position: absolute;
    border: none;
    bottom: 3%;
    left: 40%;
    background-color: lightgray;
    height: 3px;
    width: 5%;
    z-index: 999;
    border-radius: 20px;
}

#slider2 {
    cursor: pointer;
    position: absolute;
    border: none;
    bottom: 3%;
    left: 47%;
    background-color: var(--subtlered);
    height: 3px;
    width: 5%;
    z-index: 999;
    border-radius: 20px;
}

#slider3 {
    cursor: pointer;
    position: absolute;
    border: none;
    bottom: 3%;
    left: 54%;
    background-color: var(--subtlered);
    height: 3px;
    width: 5%;
    z-index: 999;
    border-radius: 20px;
}

#slider1:focus, #slider2:focus, #slider3:focus {
    outline: none;
}

#slider1:hover, #slider2:hover, #slider3:hover {
    background-color: lightgray;
}

#slideshow1 {
    position: absolute;
    width: 100%;
    height: 100%;
}

#slideshow2 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

#background {
    object-fit: cover;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;

}

#background2 {
    display: none;
    object-fit: cover;
    z-index: -2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#background3 {
    object-fit: cover;
    display: none;
    z-index: -3;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#heading {
    position: absolute;
    font-family: "SFUIDisplay-Bold";
    color: white;
    font-size: 4em;
    top: 30%;
    left: 5.5%;
}

#subheading {
    font-family: "SFUIDisplay-Thin";
    letter-spacing: 0px;
    position: absolute;
    color: lightgray;
    font-size: 2.2em;
    top: 45%;
    left: 5.5%;
}

#heading2 {
    display: none;
    position: absolute;
    font-family: SFUIDisplay-Bold;
    color: var(--gray);
    font-size: 4em;
    top: 30%;
    left: 40%;
    z-index: -2;
}

#subheading2 {
    display: none;
    position: absolute;
    font-family: SFUIDisplay-Thin;
    color: gray;
    font-size: 2.2em;
    top: 30%;
    left: 40%;
    z-index: -2;
}

#heading3 {
    position: absolute;
    font-family: SFUIDisplay-Bold;
    color: white;
    font-size: 4em;
    bottom: 40%;
    left: 5%;
    z-index: -3;
    display: none;

}

#subheading3 {
    position: absolute;
    font-family: SFUIDisplay-Thin;
    color: lightgray;
    font-size: 2.2em;
    bottom: 37%;
    left: 5%;
    z-index: -3;
    display: none;
}

#getStartedButton {
    position: absolute;
    font-family: "SFUIDisplay-Thin";
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    width: 250px;
    height: 50px;
    border-radius: 30px;
    left: 5.5%;
    bottom: 30%;
    opacity: 0.9;
    z-index: 99;
    outline: none;

}

#getStartedButton:hover {
    color: white;
    border: none;
    background-color: var(--subtlered);
    cursor: pointer;

}

#boxes {
    margin-top: 150px;
    position: relative;
    height: 695px;
    width: 100%;
    /*background-color:rgba(162,162,162,0);*/
    /*background: rgba(256,256,256,0.5);*/
    /*background : rgba(12, 31, 39, 0.9);*/
    background: rgba(29, 30, 31, 1);
    left: 0;
    right: 0;
    margin-bottom: 150px;
}

#quad {
    position: relative;
    background-color: rgba(254, 254, 254, 0.9);
    border: 10px black;
    height: 500px;
    width: 500px;
    top: 17%;
    left: 5%;
    box-shadow: 0 0 50px #000;
}

#box1 {
    object-fit: cover;
    height: 50%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 2px;

}

#box2 {
    object-fit: cover;
    height: 50%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 2px;
}

#box3 {
    object-fit: cover;
    height: 50%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 0;
}

#box4 {
    object-fit: cover;
    height: 50%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
}

.boxheading {
    position: absolute;
    font-size: 4em;
    font-family: SFUIDisplay-Bold;
    /*text-transform:uppercase;*/
    color: var(--subtlered);

}

#buyheading {
    left: 52%;
    top: 9%
}

#sellheading {
    left: 52%;
    top: 35%;

}

#tradeheading {
    left: 52%;
    top: 59%;
}

.boxsubheading {
    position: absolute;
    font-size: 1.5em;
    color: white;
    font-weight: lighter;
}

#buysubheading {
    top: 27%;
    left: 52%;
}

#sellsubheading {
    top: 52%;
    left: 52%;
}

#tradesubheading {
    top: 77%;
    left: 52%;
}

#downicon2 {
    position: absolute;
    height: 70px;
    width: 70px;
    bottom: 6%;
    left: 90%;
    z-index: 5;
}

#recentposts {
    margin-top: 50px;
    position: relative;
    height: 500px;
    width: 100%;
    /*background-color: rgba(20, 20, 20, 1);*/
    background-color: white;
}

#computercontainer {
    position: relative;
    left: 50%;
    height: 300px;
    width: 500px;
    bottom: -10%;
}

#computer {
    position: relative;
    height: 400px;
    width: 500px;
    top: 5%;
    left: 5%;
    z-index: 2;
}

#screenshot {
    position: absolute;
    left: 10%;
    height: 250px;
    width: 450px;
    top: 15%;
}

#postheader {
    position: absolute;
    font-size: 4em;
    font-family: "SFUIDisplay-Bold";
    left: 12%;
    top: 15%;
    color: var(--purple);
}

#postsubheader {
    position: absolute;
    font-size: 3em;
    font-family: "SFUIDisplay-Thin";
    left: 11%;
    top: 35%;
    color: var(--gray);
}

#marketplace {
    position: absolute;
    font-family: "SFUIDisplay-Thin";
    font-size: 20px;
    color: white;
    background-color: var(--purple);
    border: none;
    width: 250px;
    height: 50px;
    border-radius: 30px;
    left: 17%;
    bottom: 30%;
    opacity: 0.9;
    z-index: 99;
    outline: none;
}

#marketplace:hover {
    background-color: var(--darkgray);
    color: white;
    cursor: pointer;

}

#sponsordiv {
    position: relative;
    transform: translateY(0%);
    height: 200px;
    width: 100%;
    background-color: var(--darkgray);
}

#sponsors {
    top: 8%;
    left: 49%;
    font-size: 1.5em;
    position: absolute;
    font-weight: lighter;
    color: white;
    padding: 0;
    margin-left: 20px;
}

#bottomlogo {
    position: absolute;
    left: 40%;
    height: 120px;
    width: 150px;
    margin-right: 10px;
}

#copyright {
    position: absolute;
    bottom: 7%;
    left: 42%;
    font-weight: lighter;
    color: white;
    padding: 0;
    margin: 0;
    font-size: 1em;
}

#error {
    position: absolute;
    font-size: 0.8em;
    text-transform: uppercase;
    font-family: SFUIDisplay-Regular;
    top: 20%;
    left: 43%;
    color: var(--subtlered);
}
#usersettings {
    position: absolute;
    top: 11.5%;
    right: 5px;
    border-radius: 5px;
    background-color: rgba(59, 62, 67, 0.9);;
    width: 150px;
    height: 90px;
    z-index: 999;
    display: none;
}

#wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

#profile {

    position: absolute;
    color: black;
    top: 10px;
    left: 10%;
    width: 120px;
    height: 30px;
    background: var(--subtlered);
    text-decoration: none;
    font-weight: lighter;
    font-size: 0.8em;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#logout {
    position: absolute;
    top: 50px;
    left: 10%;
    width: 120px;
    height: 30px;
    background: var(--subtlered);
    text-decoration: none;
    font-weight: lighter;
    font-size: 0.8em;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: black;
}

#profile:hover, #logout:hover {
    color: white;
    background-color:var(--brightred);
}














