:root {
    --pinkish     : rgba(237, 72, 124, 1);
    --orange      : rgba(239, 140, 60, 1);
    --ROgradient  : -webkit-linear-gradient(left, #ef923c, #2569d8);
    --lightbl     : #2569d8;
    --blu         : rgba(52, 138, 230, 1);
    --pastelgreen : rgba(114, 234, 121, 1);
    --pastelblue  : rgba(109, 151, 255, 1);
    --gray        : rgba(59, 62, 67, 1);
    --red         : rgba(255, 0, 71, 0.8);
    --navBG       : rgba(40, 44, 53, 0.9);
    --purple      : rgba(124, 37, 248, 1);
    --subtleblue  : rgba(109, 151, 255, 0.9);

}

@font-face {
    font-family : "SFUIDisplay-Bold";
    src         : url("../Fonts/SFUIDisplay-Bold.ttf");
}

@font-face {
    font-family : "SFUIDisplay-Thin";
    src         : url("../Fonts/SFUIDisplay-Ultralight.ttf");
}

@font-face {
    font-family : 'SFUIDisplay-Regular';
    src         : url("../Fonts/SFUIDisplay-Semibold.ttf");
}

@font-face {
    font-family : 'SFUIDisplay-Black';
    src         : url("../Fonts/SFUIDisplay-Thin.ttf");
}

body {
    font-family     : "SFUIDisplay-Thin", "SF UI Display", "Helvetica Neue", -apple-system, BlinkMacSystemFont, sans-serif;
    /*background-color:#e1e1e1;*/
    /*background-image: url('../Resources/header-bg.png');*/
    background      : url('../Resources/landscape.jpg') no-repeat center center fixed;
    background-size : cover;
    margin          : 0;
    width           : auto;
    min-width       : 1300px;
    min-height      : 500px;

}

#bodyoverlay {

    position   : fixed;
    top        : 0%;
    height     : 100%;
    width      : 100%;
    background : -webkit-linear-gradient(left, var(--pastelblue), var(--red));
    /*background: rgba(12,31,39,0.8);*/
    opacity    : 0.9;
    z-index    : -999;

}

#navBar {
    /*background-color: rgba(40, 44, 53, 0.9);*/
    background-color : rgba(0, 0, 0, 0.7);
    /*background:-webkit-linear-gradient(left,rgba(40,44,53,1) ,rgba(59,62,67,0.5) );*/
    position         : fixed;
    text-align       : right;
    top              : 0;
    left             : 0;
    right            : 0;
    /*background-color:#3b3e43;*/
    width            : 100%;
    height           : 50px;
    z-index          : 50;
    min-width        : 1000px;
}

.contents {
    position   : relative;
    transform  : translateY(26%);
    height     : 100%;
    margin-top : 0;
}

.contents a {
    text-decoration : none;
    text-transform  : uppercase;
    font-weight     : lighter;
    color           : lightgray;
    margin-top      : 0;
    margin-left     : 10px;
    margin-right    : 20px;
    font-size       : 0.8em;
    opacity         : 1;
    height          : 100%;
    padding         : 20px 10px 14px 15px;
}

.contents a:hover {
    background-color : var(--gray);
    color            : var(--pastelblue);
}

#searchbar {
    text-transform     : uppercase;
    font-size          : 0.83em;
    height             : 30px;
    font-weight        : lighter;
    background-color   : transparent;
    color              : white;
    border             : none;
    width              : 0;
    margin-right       : 30px;
    -webkit-transition : width 0.5s ease-in-out;
    transition         : width 0.5s ease-in-out;
    z-index            : 999;
    padding            : 0 0 0 40px;
}

#searchbar:focus {
    width   : 200px;
    /*outline-color:var(--pinkish);*/
    /*outline-width:2px;*/
    outline : none;
    border  : solid 1px rgba(237, 72, 124, 0.8);
}

#searchicon {
    position    : absolute;
    top         : 8%;
    height      : 25px;
    width       : 25px;
    margin-left : 5px;
}

#homeicon {
    position     : relative;
    transform    : translateY(30%);
    height       : 25px;
    width        : 25px;
    padding      : 20px 20px 10px 20px;
    margin-right : 20px;
}

#homeicon:hover {
    cursor           : pointer;
    background-color : var(--gray);
}

#logo {
    cursor   : pointer;
    position : absolute;
    display  : inline-block;
    /*transform: translateX(-20%) translateY(-45.5%);*/
    /*height:550%;*/
    /*width: 30%;*/
    /*z-index:999;*/
    /*flex-shrink:0;*/
    /*min-width:30%;*/
    left     : 5%;
    top      : -40%;
    height   : 101px;
    width    : 116px;
    z-index  : 999;
    /*transform: translateX(-20%) translateY(-38%);*/
    overflow : hidden;

}

#separator {
    width      : 100%;
    height     : 2px;
    top        : 6.8%;
    background : -webkit-linear-gradient(left, var(--pastelblue), var(--red));
    z-index    : 2;
    /*box-shadow: 0px 2px 2px #888888;*/
}

#separator2 {
    position   : absolute;
    width      : 100%;
    height     : 2px;
    top        : 34%;
    background : rgba(256, 256, 256, 0.5);
    z-index    : 2;
    /*box-shadow: 0px 2px 2px #888888;*/

}

#separator-container {
    position         : relative;
    width            : 100%;
    height           : 50px;
    background-color : transparent;
    transform        : translateY(-36%);

}

#more {
    position         : absolute;
    bottom           : -1.5%;
    left             : 15%;
    font-family      : "SFUIDisplay-Bold";
    font-size        : 1.2em;
    color            : var(--gray);
    border           : 2px solid white;
    background-color : white;
    z-index          : 3;
    border-radius    : 30px;
    padding          : 0 20px 0 20px;
}

#downicon {
    position : absolute;
    height   : 70px;
    width    : 70px;
    bottom   : -2.5%;
    left     : 5%;
}

#header {
    position         : relative;
    transform        : translateY(0);
    background-color : black;
    height           : 690px;
    width            : 100%;

}

#slider1 {

    cursor           : pointer;
    position         : absolute;
    border           : none;
    bottom           : 3%;
    left             : 40%;
    background-color : gray;
    height           : 3px;
    width            : 5%;
    z-index          : 999;
    border-radius    : 20px;
}

#slider2 {
    cursor           : pointer;
    position         : absolute;
    border           : none;
    bottom           : 3%;
    left             : 47%;
    background-color : rgba(109, 151, 255, 0.8);
    height           : 3px;
    width            : 5%;
    z-index          : 999;
    border-radius    : 20px;
}

#slider3 {
    cursor           : pointer;
    position         : absolute;
    border           : none;
    bottom           : 3%;
    left             : 54%;
    background-color : rgba(109, 151, 255, 0.8);
    height           : 3px;
    width            : 5%;
    z-index          : 999;
    border-radius    : 20px;
}

#slider1:focus, #slider2:focus, #slider3:focus {
    outline : none;
}

#slideshow1 {
    position : absolute;
    width    : 100%;
    height   : 100%;
}

#slideshow2 {
    position : absolute;
    display  : block;
    width    : 100%;
    height   : 100%;
}

#background {
    object-fit : cover;
    display    : block;
    position   : absolute;
    left       : 0;
    right      : 0;
    bottom     : 0;
    top        : 0;
    height     : 100%;
    width      : 100%;

}

#background2 {
    display    : none;
    object-fit : cover;
    z-index    : -2;
    position   : absolute;
    left       : 0;
    right      : 0;
    bottom     : 0;
    top        : 0;
    height     : 100%;
    width      : 100%;
}

#background3 {
    object-fit : cover;
    display    : none;
    z-index    : -3;
    position   : absolute;
    left       : 0;
    right      : 0;
    bottom     : 0;
    top        : 0;
    height     : 100%;
    width      : 100%;
}

#heading {
    position    : absolute;
    font-family : SFUIDisplay-Bold;
    color       : white;
    font-size   : 4em;
    top         : 30%;
    left        : 5.5%;
}

#subheading {
    font-family : SFUIDisplay-Regular;
    position    : absolute;
    color       : lightgray;
    font-size   : 2.2em;
    top         : 45%;
    left        : 5.5%;
}

#heading2 {
    display     : none;
    position    : absolute;
    font-family : SFUIDisplay-Bold;
    color       : var(--gray);
    font-size   : 4em;
    top         : 30%;
    left        : 40%;
    z-index     : -2;
}

#subheading2 {
    display     : none;
    position    : absolute;
    font-family : SFUIDisplay-Regular;
    color       : gray;
    font-size   : 2.2em;
    top         : 30%;
    left        : 40%;
    z-index     : -2;
}

#heading3 {
    position    : absolute;
    font-family : SFUIDisplay-Bold;
    color       : rgba(10, 10, 10, 0.8);
    font-size   : 4em;
    bottom      : 40%;
    left        : 5%;
    z-index     : -3;
    display     : none;

}

#subheading3 {
    position    : absolute;
    font-family : SFUIDisplay-Regular;
    color       : whitesmoke;
    font-size   : 2.2em;
    bottom      : 37%;
    left        : 5%;
    z-index     : -3;
    display     : none;
}

#getStartedButton {
    position         : absolute;
    font-family      : "SFUIDisplay-Thin";
    font-size        : 20px;
    color            : white;
    background-color : transparent;
    border           : 2px solid white;
    width            : 250px;
    height           : 50px;
    border-radius    : 30px;
    left             : 5.5%;
    bottom           : 30%;
    opacity          : 0.9;
    z-index          : 99;
    outline          : none;

}

#getStartedButton:hover {
    color        : var(--pastelblue);
    border-color : var(--pastelblue);
    cursor       : pointer;

}

#boxes {
    margin-top : 150px;
    position   : relative;
    height     : 700px;
    width      : 100%;
    /*background-color:rgba(162,162,162,0);*/
    /*background: rgba(256,256,256,0.5);*/
    background : rgba(12,31,39,0.8);
    left       : 0;
    right      : 0;
}

#quad {
    position         : relative;
    background-color : rgba(254, 254, 254, 0.9);
    border           : 10px black;
    height           : 500px;
    width            : 500px;
    top              : 10%;
    left             : 5%;
    box-shadow       : 0 0 50px #000;
}

#box1 {
    object-fit : cover;
    height     : 50%;
    width      : 50%;
    position   : absolute;
    top        : 0;
    left       : 0;
    bottom     : 2px;

}

#box2 {
    object-fit : cover;
    height     : 50%;
    width      : 50%;
    position   : absolute;
    top        : 0;
    left       : 50%;
    bottom     : 2px;
}

#box3 {
    object-fit : cover;
    height     : 50%;
    width      : 50%;
    position   : absolute;
    top        : 50%;
    left       : 0;
}

#box4 {
    object-fit : cover;
    height     : 50%;
    width      : 50%;
    position   : absolute;
    top        : 50%;
    left       : 50%;
}

.boxheading {
    position    : absolute;
    font-size   : 4em;
    font-family : SFUIDisplay-Bold;
    /*text-transform:uppercase;*/
    color       : rgba(106,171,249,1);

}

#buyheading {
    left : 52%;
    top  : 5%
}

#sellheading {
    left : 52%;
    top  : 30%;

}

#tradeheading {
    left : 52%;
    top  : 55%;
}

.boxsubheading {
    position    : absolute;
    font-size   : 1.5em;
    color       : var(--gray);
    font-weight : lighter;
}

#buysubheading {
    top  : 25%;
    left : 52%;
}

#sellsubheading {
    top  : 50%;
    left : 52%;
}

#tradesubheading {
    top  : 75%;
    left : 52%;
}

#separator-container2 {
    position         : relative;
    width            : 100%;
    height           : 50px;
    background-color : transparent;
    transform        : translateY(-36%);

}

#downicon2 {
    position : absolute;
    height   : 70px;
    width    : 70px;
    bottom   : 6%;
    left     : 90%;
    z-index  : 5;
}

#recentposts {
    margin-top       : 50px;
    position         : relative;
    height           : 500px;
    width            : 100%;
    /*background-color: rgba(20, 20, 20, 1);*/
    background-color : white;
    margin-bottom    : 150px;
}

#computercontainer {
    position : relative;
    left     : 55%;
    height   : 450px;
    width    : 550px;
    bottom   : -10%;
}

#computer {
    position : relative;
    height   : 450px;
    width    : 550px;
    z-index  : 2;
}

#screenshot {
    position : absolute;
    left     : 7%;
    height   : 270px;
    width    : 470px;
    top      : 8%;
}

#postheader {
    position    : absolute;
    font-size   : 4em;
    font-family : "SFUIDisplay-Bold";
    left        : 12%;
    top         : 15%;
    color       : var(--purple);
}

#postsubheader {
    position    : absolute;
    font-size   : 3em;
    font-family : "SFUIDisplay-Thin";
    left        : 11%;
    top         : 35%;
    color       : var(--gray);
}

#marketplace {
    position         : absolute;
    font-family      : "SFUIDisplay-Thin";
    font-size        : 20px;
    color            : white;
    background-color : var(--purple);
    border           : none;
    width            : 250px;
    height           : 50px;
    border-radius    : 30px;
    left             : 17%;
    bottom           : 30%;
    opacity          : 0.9;
    z-index          : 99;
    outline          : none;
}

#marketplace:hover {
    background-color : white;
    color            : var(--pastelblue);
    cursor           : pointer;

}

#sponsordiv {
    position         : relative;
    transform        : translateY(0%);
    height           : 250px;
    width            : 100%;
    margin           : auto;
    background-color : rgba(0, 0, 0, 0.9);
}

#sponsors {
    top         : 7%;
    left        : 13%;
    font-size   : 1.5em;
    position    : absolute;
    font-weight : lighter;
    color       : white;
    padding     : 0;
    margin-left : 20px;
}

#bottomlogo {
    position     : absolute;
    left         : 5%;
    height       : 120px;
    width        : 150px;
    margin-right : 10px;
}

#copyright {
    position    : absolute;
    bottom      : 0%;
    left        : 42%;
    font-weight : lighter;
    color       : white;
    padding     : 0;
    margin      : 0;
    font-size   : 1em;
}



